.Input{}
.Input-label{
    color: #333;
    margin-bottom: 5px;
}
.Input-field{
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #EDEDED;
}
input {
    max-width: 500px;
    border: 0;
    background-color: transparent;
}